/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

/* Text */
@font-face {
  font-family: "Millimetre";
  src: url(/fonts/Millimetre-Regular.otf);
}
@font-face {
  font-family: "Millimetre";
  src: url(fonts/Millimetre-Bold.otf);
  font-weight: bold;
}
.header {
  font-family: "Millimetre";
}
.project-txt {
  font-family: "Millimetre"
}
.wrapper {
  line-height: 120%;
}

/* Hovers */
.div1:hover {
  background-color: gold;
}
.div2:hover {
  background-color: #19a974;
}
.div3:hover {
  background-color: #ff4136;
}
.div4:hover {
  background-color: #fbf1a9;
}
.div5:hover {
  background-color: orange;
}
.div6:hover {
  background-color: #5F68D9;
}
.div7:hover {
  background-color: grey;
}
.div8:hover {
  background-color: black;
  color: white;
}
.div9:hover {
  background-color: blue;
}

/* Grids */
.dual-grid {
  display: grid;
  grid-template-columns: auto auto;
}
