/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

/* Text */
@font-face {
  font-family: "Millimetre";
  src: url(/fonts/Millimetre-Regular.otf);
}
@font-face {
  font-family: "Millimetre";
  src: url(fonts/Millimetre-Bold.otf);
  font-weight: bold;
}
.header {
  font-family: "Millimetre";
}
.project-txt {
  font-family: "Millimetre"
}
.wrapper {
  line-height: 120%;
}

/* Color */
.greenish {
  background-color: #99CF64;
}
/* Hovers */
.container #containeron {
  display: none;
  position: absolute;
}
.container:hover #containeron {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
bottom: 0;
right: 0;
z-index: 100;
}

/* Grids */
.dual-grid {
  display: grid;
  grid-template-columns: auto auto;
}
